<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Enable instant app support -->
    <dist:module dist:instant="true" /> <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" /> <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Use Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Use Naver Map -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 오디오 사용 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 현위치 불러오기 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/white_bus_logo2"
        android:label="Drowsiness Detection"
        android:roundIcon="@mipmap/white_bus_logo2"
        android:supportsRtl="true"
        android:taskAffinity=""
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="46d9f78dd50186c6c666f893e65a737b" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="v4ud3zha1i" />

        <activity android:name=".DriverMainActivity"/>
        <activity android:name=".SplashActivity" />
        <activity android:name=".BusNumberInputActivity" />
        <activity android:name=".AppUserDeterminantActivity" />
        <activity android:name=".FaceSettingActivity" />
        <!--        <activity android:name=".DriverMainActivity" />-->
        <!--        <activity android:name=".DriverMainActivity" />-->
        <activity android:name=".Main_vi_Search_des" />
        <activity android:name=".searchPubPathT" />
        <activity android:name=".Main_Bus_Arrival" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ViPlaceRegistrationActivity" />

        <activity android:name=".OnStationUser" />


        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FindCurrentPosition"/>
        <activity android:name=".repository.activity_home"/>
        <activity android:name=".RideBus" />

        <activity android:name=".user_dropin_bus" /> <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao46d9f78dd50186c6c666f893e65a737b" />
            </intent-filter>
        </activity>
    </application>

</manifest>
